@use './vars';

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: vars.$light;
}

* {
  margin: 0;
  padding: 0;
}

main {
  height: 100%;
}

.container {
  height: 100%;
  margin: 0 auto;
  max-width: 980px;
  padding: 0 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.textarea {
  width: 96%;
}

.btn {
  display: block;
  background: transparent;
  border: 1px solid vars.$green;
  color: vars.$green;
  padding: 0.5em 2em;
  font-size: 20px;
  font-weight: 700;

  &:disabled {
    border-color: vars.$gray;
    color: vars.$gray;
  }

  &:not(:disabled):hover {
    color: vars.$white;
    background-color: vars.$green;
  }

  &:active {
    background-color: vars.$darkGreen;
  }
}

.close-btn {
  background-color: transparent;
  border: none;
  opacity: 0.6;
  cursor: pointer;
  font-size: 20px;
  color: vars.$white;
  
  &:hover {
    opacity: 1;
  }
}

.field {
  display: block;
  background-color: transparent;
  border: 1px solid vars.$green;
  padding: 0.3em 0.5em;
  margin: 0;
  font-size: 20px;
}

.error {
  color: vars.$red;
}
